@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.MenuFloatMobile {
    display: none;
}
body {
    background: linear-gradient(to bottom, white, #a473a3);
    height: 100vh;
}
.MessageBox {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    border-left: solid red 5px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.096);
    font-weight: bold;
    font-size: 20px;
    transition: .4s ease-in-out;
}
header {
    width: 100vw;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
header .Logo img {
    height: 50px;
}
header .Logo span {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
header .Right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
}
header .BtnToggleMenuFloatMobile {
    display: none;
}
header button#BtnHistorico,
header button#BtnCleanChat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px #a473a37c;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
header button#BtnHistorico:hover,
header button#BtnCleanChat:hover {
    box-shadow: 0 0 10px #a473a3;
}
header button#BtnCleanChat {
    display: none;
}
header .Tema {
    padding: 10px;
    box-shadow: 0 0 10px #a473a37c;
    display: grid;
    grid-gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
    position: fixed;
    right: 160px;
    top: 15px;
}
header .Tema.Expand {
    height: auto;
}
header .Tema .Titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
header .Tema .Titulo i {
    font-size: 17px;
}
header .Tema .Titulo h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}
header .Tema button {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
header .Tema button:hover {
    box-shadow: 0 0 10px #a473a37c;
}
header .Tema button.BtnThemeSelected {
    background: #a473a37c;
    box-shadow: 0 0 10px #a473a37c;
    cursor: not-allowed;
}
header .Tema button.BtnThemeSelected:hover {
    background: #a473a3;
}
section.PrintNome {
    width: 100vw;
    height: calc(100vh - 150px);
    display: grid;
    place-items: center;
    overflow: hidden;
}
section.PrintNome .InsertValue {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
    overflow: hidden;
}
section.PrintNome .InsertValue::-webkit-scrollbar {
    width: 5px;
    height: 100px;
    max-height: 100px;
}
section.PrintNome .InsertValue::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
}
section.PrintNome .InsertValue h4 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}
section.PrintNome .InsertValue h3 {
    font-size: 30px;
}
section.PrintNome .InsertValue h4, 
section.PrintNome .InsertValue h3 {
    width: 100%;
    text-align: center;
}
section.PrintNome .InsertValue button {
    padding: 10px;
    border: none;
    background: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
section.PrintNome .InsertValue button:hover {
    background: black;
    color: white;
}
section.PrintNome .InsertValue .CardText {
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.339);
    display: grid;
    grid-gap: 10px;
    width: auto;
    max-width: 300px;
    font-size: 17px;
    line-height: 25px;
}
section.PrintNome .InsertValue .CardText h2 {
    font-size: 20px;
}
section.PrintNome .InsertValue .CardText.User {
    margin-left: 70%;
}
section.PrintNome .InsertValue .CardText.Bot {
    background: black;
    color: white;
}
section.Input {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.Input div {
    width: 60%;
    padding: 10px;
    background: white;
    border-radius: 100px;
    display: flex;
    gap: 20px;
}
section.Input div button {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a473a37c;
    padding: 20px;
    cursor: pointer;
}
section.Input div button:hover {
    background: none;
    box-shadow: 0 0 10px #a473a37c;
}
section.Input div button:nth-child(3) {
    width: 50px;
    border-radius: 20px;
}
section.Input div button i {
    font-size: 15px;
}
section.Input div button:nth-child(3) i {
    font-size: 20px;
}
section.Input div input {
    width: 85%;
    padding: 0 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 17px;
    color: black;
    font-weight: bold;
    background: none;
}
section.Input div input:focus {
    outline: solid 1px #a473a37c;
}
section.Upload {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, white, #a473a3);
    border-radius: 20px;
    box-shadow: 0 0 10px #a473a37c;
    width: 60vw;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    font-size: 20px;
    transition: .4s ease-in-out;
}
section.Upload.UploadExpand {
    height: 70vh;
}
section.Upload button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.302);
}
section.Upload button:hover {
    background: black;
    color: white;
}
